@import "tailwindcss";

@theme {
  --font-serif: var(--font-source-serif);
}

:root {
  --background: #FDFBF7; /* Creme / Newspaper */
  --foreground: #222222; /* Dark Gray / Black */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-serif), serif;
}
